* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.error-message {
    background-color: rgba(160, 31, 31, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}
.error-success {
    background-color: rgba(56, 182, 17, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}
